Portfolio/CI-CD/inventory_process_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "c957aa0e-4309-9836-42ee-29c6e7c82113",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "inventory_dataflow",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "89c56d92-9200-47ac-bb95-3affb8c82b60",
          "workspaceId": "4ecbaf18-d748-4bd3-b6cd-5743f135f2bf"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Read_variable_outputs_ntbk",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Total Rows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "totalrecords",
          "value": {
            "value": "@int(json(activity('Get Record Count nbk').output.result.exitValue).totalrecords)\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Total Rows",
        "dependsOn": [
          {
            "activity": "SetValidRecordCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "52171fa2-f1c2-b792-48a1-d2eb69ec0a0c",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Record Count nbk",
        "description": "Returns the count of valid, invalid, and total record counts",
        "dependsOn": [
          {
            "activity": "inventory_dataflow",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "validCount",
          "value": {
            "value": "@int(json(activity('Get Record Count nbk').output.result.exitValue).validCount)\n\n\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SetValidRecordCount",
        "dependsOn": [
          {
            "activity": "SetInvalidRecordCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "invalidCount",
          "value": {
            "value": "@int(json(activity('Get Record Count nbk').output.result.exitValue).invalidCount)\n\n\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SetInvalidRecordCount",
        "description": "Return Invalid Count",
        "dependsOn": [
          {
            "activity": "Get Record Count nbk",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greater(1, 0)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "3fae3bec-33c1-4cbc-b580-f9a86adbf95f",
                "workspaceId": "4ecbaf18-d748-4bd3-b6cd-5743f135f2bf",
                "parameters": {
                  "EnvironmentFlag": {
                    "value": "Development",
                    "type": "string"
                  },
                  "RouteInvalidTo": {
                    "value": "Files/InvalidRecs",
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "RouteInvalidRows",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": []
        },
        "name": "Failed Audit",
        "description": "If invalid records exist, log in audit, partition files, and send notification email",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      }
    ],
    "variables": {
      "validCount": {
        "type": "Integer"
      },
      "invalidCount": {
        "type": "Integer"
      },
      "totalrecords": {
        "type": "Integer"
      }
    }
  }
}